<nav class="navbar navbar-dark bg-dark p-3">
<div class="container">
<span class="text-white">♻️ Garbage AI</span>

<div>
<a href="/" class="btn btn-outline-light">Home</a>
<a href="/predict" class="btn btn-outline-light">Predict</a>
<a href="/dashboard" class="btn btn-outline-light">Dashboard</a>
<a href="/records" class="btn btn-outline-light">Records</a>
</div>
</div>
</nav>